/* .contact-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
} */
 /* FULL PAGE CENTER */
.about-container {
  min-height: 100vh;              /* full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;      /* Home sarkha bg */
}

/* CARD */
.about {
  max-width: 700px;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

/* HOVER */
.about:hover {
  transform: translateY(-8px);
}

/* HEADING */
.about h2 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #333;
}

/* TEXT */
.about p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

/* BUTTON */
.contact-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;
  background: #007bff;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #0056b3;
  transform: scale(1.05);
}