/* FOOTER */
.footer {
  text-align: center;
  padding: 25px;
  background: black;
  color: white;
}

/* ICONS */
.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* ICON STYLE */
.social-links a {
  color: cyan;
  font-size: 28px;   /* 👈 icon size */
  transition: 0.3s;
}

/* HOVER */
.social-links a:hover {
  color: white;
  transform: scale(1.2);
}