/* FOOTER */
.footer {
  text-align: center;
  padding: 25px;
 background: #0b252b;
  color: #ffffff;
  color: white;
}

/* ICONS */
.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* ICON STYLE */
.social-links a {
  /* color: cyan; */
  color: inherit;
  font-size: 28px;   /* 👈 icon size */
  transition: 0.3s;
}

/* HOVER */
.social-links a:hover {
  color: white;
  transform: scale(1.2);
}
.linkedin {
  color: #0077b5;   /* LinkedIn blue */
}

.github {
  color: #ffffff;   /* GitHub white */
}

/* Hover effect 🔥 */
.social-links a:hover {
  transform: scale(1.2);
}

