.footer {
  text-align: center;
  padding: 25px;
  background: black;
  color: white;
}

/* LINKS */
.social-links {
  margin-top: 10px;
}

.social-links a {
  color: cyan;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

/* HOVER */
.social-links a:hover {
  color: white;
  text-decoration: underline;
}