
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;   
  align-items: center;
  background-color: black;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* UL */
.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;

  flex-wrap: nowrap;        /* ❌ wrap बंद */
  overflow-x: auto;         /* 👉 scroll allow */
  white-space: nowrap;      /* 👉 ekach line madhe */

  margin-left: 40px;

}

/* scrollbar hide (optional clean look) */
.navbar ul::-webkit-scrollbar {
  display: none;
}

/* LINKS */
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

/* HOVER EFFECT */
.navbar ul li a:hover {
  color: #00c6ff;
  border-bottom: 2px solid cyan;
  padding-bottom: 5px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.logo span {
  color: cyan;   /* 👈 half color */
}

/* ACTIVE LINK */
.navbar ul li a.active {
  color: cyan;
  border-bottom: 2px solid cyan;
  padding-bottom: 5px;
}